#jou {
    background-image: url("../img/background_hb2.jpg");
    background-repeat: repeat;
    background-color: orange;
    color: black;
        }

footer {
    background-color: #bbbbbb;
}

form {
   background-color: bisque;
     filter: 10%;
    border: 2px solid orange;
    padding-top : 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    
}
.center {
    text-align: center;
    
}

h1 {
    text-align: center;
    border: 2xp solid green;
    background-color: darkorange;
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;
}

#jj {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
   
}
#border {
    width: 100%;
    height: 60px;
    float: left;
    background-color: orange;
    margin: 2px;
}
.mm :hover{
    background-color: orange;
}

.flexj {
    display: flex;
    flex-wrap: wrap;
}
.quarter2 {
    float:left;
    width:100%;
    padding: 0 8px;
    height:300px;
}
.box {
    width: 100%;
    text-align: center;
}

.search {
    overflow: hidden;
    background-color: #e9e9e9;
    
}
.search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

a img {
	margin: 1em;
}

/* ----- Budjet related ----- */
.color1 {
	background-color: #54AD85;
}
.color2 {
	background-color: #BA4C3F;
}
.color3 {
	background-color: #FFDA45;
}
.container {
	margin-bottom: 100px;
}
.txt-box {
	width: 150px;
	float: left;
	text-align: center;
	padding: .55em;
	margin: 0px 10px;
}
.centered {
	float: center;
}


/* ------ Budjet chart info ------ */

.atleft {
	float: left;
	margin-left: 40px;
}
.atright {
	float: right;
	margin-right: 80px;
}
.atcenter{
	float: center;
}
.boxed {
	display: block;
	width: 150px;
	float: right;
	padding: .75em;
	margin: 0px 20px;
}


@media screen and (min-width: 870px) { .quarter2{
    width:24.99999%;
    height:24.99999%;
    }
}
@media screen and (max-width: 869px) { .quarter2{
    width:33.33333%;
    height: 33.33333%;
    }
}
@media screen and (max-width: 675px) { .quarter2{
   margin-left: 50px;
    width:70%;
    height: 70%;
    }
}
