
.center {
    text-align: center;
    
}

.float {
    margin-left: 50px;
    margin-top: 20px;
}
.orange{
    color: white;
    background-color: orange;
}

#alert {
    color: red;
}

#jj {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
   
}
#button {
    background-color: royalblue;
    color: white;
    float: right;
    margin-right: 12px;
    width: 107px;
   
}

.mm:hover {
    border: 2px solid orange;
}

.front {
    border-collapse: collapse;
    z-index: -1; position:relative;
}

.flexj {
    display: flex;
    flex-wrap: wrap;
}
.quarter2 {
    float:left;
    width:100%;
    padding: 0 8px;
    height:300px;
}

.quarter1 {
    float:left;
    width:100%;
    padding: 0 8px;
    height:300px;
}

.kborder{
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    margin-left: 0px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.box {
    width: 100%;
    text-align: center;
}
h3{
    font-size: 20px;
    max-height: 35px;
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: orange;
}
.margin{
    padding-bottom:20px;
   padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.image{
    margin-top: 14px;
}

.kylpy2{
    width: 20%;
    border: 1xp solid black;
    box-shadow: 5xp 5xp 5xp grey;
    padding-bottom:20px;
   padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}


.search {
    overflow: hidden;
    background-color: white;
    width: 250px;
    border: 1px solid orange;
    float: right;
    margin-right: 35px;
}
.shadow {
    border: 1xp solid black;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 2px;
    margin-right: 16px;
    font-size: 17px;
}
#bigger {
    font-size: 20px;
}
#green {
    color: green;
}
#gold {
    color: gold;
     font-size: 26px;
    margin-bottom: -9px;
    margin-top: -3px;

}

@media screen and (min-width: 870px) { .quarter2{
    width:24.99999%;
    height:24.99999%;
    }#image {
        width:24.99999%;
        height:24.99999%;
    }
}
@media screen and (max-width: 869px) { .quarter2{
    width:33.33333%;
    height: 33.33333%;
    }#image {
        width:24.99999%;
        height:24.99999%;
    }
}
@media screen and (max-width: 675px) { .quarter2{
   margin-left: 50px;
    width:70%;
    height: 70%;
    } #kylpy{
        width: 100%;
    } 
    .kborder{
        margin-left: 0;
        width: 100%;
        float: left;
        
    } .morepadding{
        float: right;
        font-size: 15px;
        margin-top: 10px;
        max-width: 193px;
        margin-bottom: 10px;
        
    } #image {
        width:119px;
        height: 120px;
        margin-bottom: 20px;
    } h3{
        font-size: 20px;
        color: orange;
    }
}
#right {
    float: right;
}
#kylpy {
    border: 2px solid orange;
    width: 100%;
    margin: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* ----- Budjet related ----- */
.color1 {
	background-color: #54AD85;
}
.color2 {
	background-color: #F26554;
}
.color3 {
	background-color: #FFDA45;
}
.container {
	width: 100%;
	margin-bottom: 10%; /* muutettu 100px -> 10% */
	margin-left: 10%;
	margin-right: 10%;
}
.txt-box {
	width: 150px;
	float: left;
	text-align: center;
	padding: .55em;
	margin: 0px 10px;
}

.txt-boxj {
	width: 320px;
	float: left;
	text-align: center;
	padding: .55em;
	margin: 10px 10px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* ------ Budjet chart ------ */

#chartdiv {
  width: 100%;
  height: 500px;
}
.atleft {
	float: left;
	margin-left: 40px;
    clear: left;
}
.atright {
	float: right;
	margin-right: 80px;
    clear: right;
}

/* ------- LOGIN RELATED ------ */
#mikko2 form {
   background-color: #99aab9;
     filter: 10%;
    border: 2px orange;
    padding-top : 30px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

#mikko1 input[type=submit] {
    background-color: #f7f4f44d;
    color: black;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#mikko input[type=submit]:hover {
    background-color: #fa9e39;
}

h1 {
    text-align: center;
    background-color: #fc9f28;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fefeff;
    margin-bottom: 0px;
    margin-top: 4px;
}

#error{
    width: 100%;
    color:red;
    text-align: center;
}

/* --------- /LOGIN RELATED -------- */


footer {
    background-color: #bbbbbb;
}

